<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee List</title>
</head>
<body>
    <h1>EMPLOYEE LIST</h1>
    <table border="1" width="25%">
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Age</th>
            <th>Contact Number</th>
            <th>Job Role</th>
        </tr>
        <% employee.map((emp) => { %>
          <%  console.log("Employee Details " + emp.id) %>
          <% return ( %>
          <%  console.log("vhdvjfm ") %>
       <%  ) %>
     <% }) %>
    </table>

</body>
</html>